<!doctype html>

<html>
<head>
	<title>Cooking mama</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">
	<script src = "js/jquery-1.11.0.js"></script>
	<script src = "js/bootstrap.js"></script>
	<script src = "js/hci-friends.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
	
	{{> facebook}}
	<script src="/js/facebook.js"></script>

	<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-159542671-1', 'auto');
ga('require', 'GTM-KJRMBVF');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>

<body>
	<div class='top'>
	<div class ="container">
		<h2 class ="test" id='logo'><img src="../img/cookingmamabrand.png" id = "b">Cooking Mama
			</h2>	
	</div>
		<img class="profilePhoto" src="img/facebook-default-no-profile-pic1.jpg">
		<fb:login-button class="facebookLogin" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
		<p class = "nameTest">Guest</p>
	</div>
		
	<b class = "reloading">
	{{#each friends}}
		<script>
			naming = $(".nameTest").text();
			console.log(naming);
		  if ("{{userName}}" === naming) {
			document.write('{{#each formula}}<div class="friend" id="{{name}}"> <img src="{{imageURL}}" class="img-rounded"> <a href="project/{{name}}" class=""> <h3>{{name}}</h3> <p>{{description}}</p> </a> </div>{{/each}}' );
		  }
		</script>
    {{/each}}
	</b>

	<b class = "guestUser">
		
	</b>

	<loggedIn>
		
	</loggedIn>

	<a href="./addRecipe" class="aBtn">add recipe</a>






</body>
</html>
